@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-BoldCond.woff2') format('woff2'),
        url('MollenPersonalUse-BoldCond.woff') format('woff'),
        url('MollenPersonalUse-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-Bold.woff2') format('woff2'),
        url('MollenPersonalUse-Bold.woff') format('woff'),
        url('MollenPersonalUse-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-Condensed.woff2') format('woff2'),
        url('MollenPersonalUse-Condensed.woff') format('woff'),
        url('MollenPersonalUse-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-BoldNarrow.woff2') format('woff2'),
        url('MollenPersonalUse-BoldNarrow.woff') format('woff'),
        url('MollenPersonalUse-BoldNarrow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-LightCond.woff2') format('woff2'),
        url('MollenPersonalUse-LightCond.woff') format('woff'),
        url('MollenPersonalUse-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-Light.woff2') format('woff2'),
        url('MollenPersonalUse-Light.woff') format('woff'),
        url('MollenPersonalUse-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-LightNarrow.woff2') format('woff2'),
        url('MollenPersonalUse-LightNarrow.woff') format('woff'),
        url('MollenPersonalUse-LightNarrow.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-Narrow.woff2') format('woff2'),
        url('MollenPersonalUse-Narrow.woff') format('woff'),
        url('MollenPersonalUse-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mollen Personal Use';
    src: url('MollenPersonalUse-Regular.woff2') format('woff2'),
        url('MollenPersonalUse-Regular.woff') format('woff'),
        url('MollenPersonalUse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

