/* BODY AND SECTIONS */
/* ----------------------------------------------------- */
/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). Some properties have already been declared */

body {
  padding: 40px 10%;
  background-color: rgb(235, 235, 235) ;  
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

section > h2 {
text-align: center;
line-height: 1;
border-bottom: 1px solid black;
padding-bottom: 8px;
}

section > em {
display: block;
margin: 8px 0;
text-align: center;
}

section > div {padding: 10px;}


#s6 > div {background-color: #B298DC;}
#s7 > div {background-color: #BDC696;}



/* SECTION 1 */
/* ----------------------------------------------------- */

#s1 > div {
  background-color: lightgoldenrodyellow;
  column-count: 3;
}

#s1 > div > p {
  margin: 0;
}


@media screen and (max-width: 1024px) {
  #s1 div {
    background-color: darkgreen;
    column-count: 2;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #s1 div {
    background-color: lightseagreen;
    column-count: 1;
    font-size: 14px;
  }
}  

/* SECTION 2 */
/* ----------------------------------------------------- */

#s2 > div {
  background-color: #CDEAC0;
  height: 70vh;
}

#s2 > div > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#s2 > div > div:nth-child(1) {
  height: 40px;
  background-color: darkgoldenrod;
}

#s2 > div > div:nth-child(2) {
  height: calc(100% - 70px);
  background-color: lightgoldenrodyellow;
}


@media screen and (max-width: 1024px) {
  #s2 > div > div:nth-child(1) {
    background-color: darkblue;
  }
  
  #s2 > div > div:nth-child(2) {
    background-color: lightblue;
  }
}

@media screen and (max-width: 600px) {
  #s2 > div > div:nth-child(1) {
    background-color: darkslategray;
  }
  
  #s2 > div > div:nth-child(2) {
    background-color: lightslategray;
  }
}  


/* SECTION 3 */
/* ----------------------------------------------------- */


#s3 > div {
  background-color: #FF5964;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#s3 > div > div {
  width: 400px;
  background-color: white;
  margin: 5px;
  padding: 10px;
}



@media screen and (max-width: 1024px) {
  #s3 > div {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  #s3 > div > div {
    width: calc(50% - 10px);
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  #s3 > div {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  #s3 > div > div {
    width: 100%;
    background-color: lightslategray;
    margin: 5px 0px;
    padding: 10px;
  }
}

/* SECTION 4 */
/* ----------------------------------------------------- */

#s4 > div {
  background-color: #B8F3FF;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#s4 > div > div {
  background-color: white;
}

#s4 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#s4 > div > div {
  flex: 1;
  background-color: lightgreen;
}

@media (max-width: 1024px) {
  #s4 > div {
      flex-wrap: wrap;
      align-items: flex-start;
  }
}

@media (max-width: 600px) {
  #s4 > div {
      flex-direction: column;
      align-items: center;
  }
}


/* SECTION 5 */
/* ----------------------------------------------------- */

#s5 > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#s5 > div > span {
  background-color: #B298DC;
  padding: 10px;
  margin: 10px;
}

#s5 > button {
  padding: 10px;
  background-color: #BDC696;
  font-family: 'FT88', monospace;
  margin: 10px;
  display: none;
}

#box {
 background-color: #B8F3FF;
 padding: 10px;
 /* display: none; */
 visibility: hidden;
 width: 120px;
}

#box > ul {
  margin: 0;
  padding: 10px;
} 



